@tailwind base;
@tailwind components;
@tailwind utilities;


.open {
    transform: rotate(180deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.custom-accept-btn {
    margin-right: 0;

}

.custom-reject-btn {
    margin-right: 180px;

}

